* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: white;
}

#text {
    text-align: center;
    font-size: 5rem;
}

/*宽度 >= 1024*/
@media (min-width: 1024px) {
    body {
        width: 100%;
        margin: auto;
        background-color: aqua;
    }

    #user_img img {
        width: 20%;
        border-radius: 50%;
    }
}

/*宽度: [641, 1023]*/
@media (min-width: 641px) and (max-width: 1023px) {
    body {
        width: 100%;
        margin: auto;
        background-color: green;
    }

    #user_img img {
        width: 30%;
        border-radius: 50%;
    }
}

/*宽度 <= 640px*/
@media (max-width: 640px) {
    body {
        width: 100%;
        margin: auto;
        background-color: rgb(59, 160, 233);
    }

    #user_img {
        text-align: center;
    }

    #user_img img {
        width: 50%;
        border-radius: 50%;
    }
}