* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(197, 230, 249);
    overflow: hidden;
}

#top {
    width: 100%;
    height: 160px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    padding: 10px 0;
    z-index: 9999999;
}

#top div {
    flex-direction: row;
    flex: 1;
    text-align: center;
    border-radius: 50%;
    padding-top: 15px;
    padding-left: 20px;
}

#top div img {
    width: 130px;
    border-radius: 50%;
    box-shadow: 0 0 3px rgb(226, 226, 226);
    pointer-events: none;
}

#top span {
    flex-direction: row;
    flex: 2;
    left: 170px;
    top: 65px;
    padding-right: 10px;
    font-size: 40px;
    padding-top: 60px;
    font-family: "钉钉进步体";
    text-align: center;
    user-select: none;
}

#body1, #body2, #body3, #body4 {
    display: block;
    position: fixed;
    left: 0;
    top: 180px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 0 30px 0 0;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2);
    z-index: 999999;
    overflow: auto;
}

#body2, #body3, #body4 {
    display: none;
}

.Java {
    margin-top: 20px;
}


.Java, .MySQL {
    padding: 0 20px;
    height: 55px;
    display: flex;
}

.Java:active, .MySQL:active {
    background-color: rgb(245, 245, 245);
}

.Java p, .MySQL p {
    font-size: 20px;
    line-height: 53px;
    font-family: "钉钉进步体";
    flex: 20;
    user-select: none;
}

.Java svg, .MySQL svg {
    margin: 20px;
    flex: 1;
}

#bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    padding: 2px 0 8px 0;
    background-color: #fff;
    border-top: 1px rgb(191, 191, 191) solid;
    z-index: 9999999;
}

#menu {
    display: flex;
    list-style: none;
    padding: 0 20px;
}

#menu li {
    flex-direction: row;
    flex: 1;
    text-align: center;
}

#menu li img {
    width: 30px;
}

#menu p {
    font-size: 15px;
    line-height: 10px;
    color: rgb(191, 191, 191);
    font-family: "钉钉进步体";
}